body {
    padding-top: 75px;
    overflow-y: scroll;
}

footer {
    background: #F9F9F9;
    color: #9e9e9e;
    font-size: 90%;
    margin-top: 50px;
    padding: 40px 0;
    text-align: center;
}

footer a {
    color: #9e9e9e;
}

a {
    color: #EC1010;
    text-decoration: none;
}

a:hover, a:focus {
    color: #FF4200;
    text-decoration: underline;
}

pre {
    background-color: #F0F0F0;
    border-radius: 0;
}

.btn {
    border-radius: 0;
}

.btn-primary {
    color: #fff;
    background-color: #EC1010;
    border-color: #EC1010;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #FF4200;
    border-color: #FF4200;
}

.navbar-default .navbar-nav > li > a {
    color: #777;
}

.navbar .navbar-nav a {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .1rem;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar .navbar-nav a.github {
    padding-bottom: 0px;
}

.navbar .navbar-nav a.github i {
    font-size: 20px;
}

.gitter-chat-embed {
    z-index: 2000;
}

.jumbotron {
    background-color: #f8f8f8;
    text-align: center;
}

.jumbotron-odd {
    background-color: inherit;
}

.caption {
    text-transform: uppercase;
}

.thumbnail {
    border: 0px;
    text-align: center;
}

.thumbnail img {
    max-width: 200px;
}

.integration-thumbs {
    margin-top: 40px;
}

.integration-thumbs .zf2-integration a {
    padding: 51px 0px;
}

.analytics-thumbs .google-analytics-integration a {
    padding: 66px 0px;
}

.analytics-thumbs .mysql-integration a {
    padding: 54px 0px;
}

.analytics-thumbs .postgresql-integration a {
    padding: 0px;
}

.analytics-thumbs .mongodb-integration a {
    padding: 84px 0px;
}
