{% extends "default.twig" %}

{% block topbar %}
{% endblock %}

{% block content %}
    <section class="jumbotron">
        <div class="container">
            <h1>
                phpab <strong>1.0.0</strong>
            </h1>
            <p>
                The A/B testing framework for PHP applications.
            </p>
            <p>
                <a href="{{ baseUrl }}/docs/getting-started.html" class="btn btn-lg btn-primary">
                    Get started
                </a>
                <a href="{{ baseUrl }}/docs/" class="btn btn-lg btn-default">
                    Documentation
                </a>
            </p>
        </div>
    </section>
{% endblock %}
