{% include 'search-head.twig.html' %}

	<body>

    {% include 'sidebar.twig.html' %}

		<div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small>{{ site.subtitle }}</small>
          </h3>
        </div>
      </div>

    <div class="content container">
      <u><em><h1>Search Posts</h1></em></u><br/>
			<form action="{{ site.url }}/search">
        <input type="text" name="q" id="tipue_search_input" autocomplete="off" required>
      </form>
			<div id="tipue_search_content"></div>

    </div><!-- end class content container -->

		<label for="sidebar-checkbox" class="sidebar-toggle"></label>

		<script>
			(function(document) {
				var toggle = document.querySelector('.sidebar-toggle');
				var sidebar = document.querySelector('#sidebar');
				var checkbox = document.querySelector('#sidebar-checkbox');

				document.addEventListener('click', function(e) {
					var target = e.target;

					if(!checkbox.checked ||
						sidebar.contains(target) ||
						(target === checkbox || target === toggle)) return;

					checkbox.checked = false;
				}, false);
			})(document);
		</script>

    <script>
      $(document).ready(function() {
        $('#tipue_search_input').tipuesearch({
					'mode': 'json',
          'contentLocation': '{{ site.url }}/search.json'
        });
      });
    </script>
  </body>
</html>
