<!DOCTYPE html>
<html>
	<head>
		<link href="http://gmpg.org/xfn/11" rel="profile">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">

		<!-- Enable responsiveness on mobile devices-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

		<title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>
		<meta charset="utf-8">
		<!-- Stylesheets -->
		<link href="{{ site.url }}/assets/css/poole.css" rel="stylesheet" type="text/css" />
		<link href="{{ site.url }}/assets/css/lanyon.css" rel="stylesheet" type="text/css" />
    <link href="{{ site.url }}/assets/css/tipuesearch.css" rel="stylesheet" type="text/css"/>
		<!-- Scripts -->
		<script src="{{ site.url }}/assets/scripts/jquery.min.js"></script>
		<script src="{{ site.url }}/assets/scripts/tipuesearch_set.js"></script>
		<script src="{{ site.url }}/assets/scripts/tipuesearch.js"></script>
		<!-- Icons -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/apple-touch-icon-precomposed.png">
		<link rel="shortcut icon" href="{{ site.url }}/favicon.ico">
		<!-- Feed -->
		<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/feed.xml">
	</head>
