---
layout: default
title: Category Archive
generator: [posts_category_index, pagination]
pagination:
    provider: page.category_posts

---
{% block title %}{{ page.title }} "{{ page.category }}"{% endblock %}
{% block content %}
  {% set year = '0' %}
  <u><em><h1>Posts in Category - "{{ page.category|title }}"</h1></em></u>
  <ul>
  {% for post in page.pagination.items %}
    {% set this_year %}{{ post.date | date("Y") }}{% endset %}
    {% if year != this_year %}
      {% set month = '0' %}
      {% set year = this_year %}
    {% endif %}

    {% set this_month %}{{ post.date | date("F") }}{% endset %}
    {% if month != this_month %}
      {% set month = this_month %}
      <h2>{{ month }} {{ year }}</h2>
    {% endif %}

      <li><h3><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3></li>

  {% endfor %}
  </ul>
  <br/>

<div class="pagination">

  {% if page.pagination.next_page %}
    <a class="pagination-item older" href="{{ site.url }}{{ page.pagination.next_page.url }}">Previous Page</a>
  {% else %}
    <span class="pagination-item older">Previous Page</span>
  {% endif %}

  {% if page.pagination.previous_page %}
    <a class="pagination-item newer" href="{{ site.url }}{{ page.pagination.previous_page.url }}">Next Page</a>
  {% else %}
    <span class="pagination-item newer">Next Page</span>
  {% endif %}

</div><!-- end class pagination -->

{% endblock content %}
